* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: oswald;
    src: url(./fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: open;
    src: url(./fonts/OpenSans-Regular.ttf);
}
.about {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: ghostwhite;
}



.about-img {
    padding: 5% 0;
}
.about-img img {
    width: 95%;
}

.about-text {
    text-align: left;
    padding: 15% 10% 15% 6%;
}

.about-text h2 {
    font-family: oswald;
    font-size: 35px;
    margin-bottom: 30px;
}

.about-text p {
    font-family: open;
    line-height: 25px;
}